#col1{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color:#DCDCDC ;
    height: 1000px;
}

#img1{
    margin-top: 30px;
    border-radius: 100px;
    height: 200px;
    width: 200px;
    margin-left: 30px;
}
#p1{
    margin-left: 20px;
    margin-top: 40px;
    font-size: 24px;
}
#p2{
    
    margin-left: 25px;
    margin-top: 1px;
    font-size: 18px;
}
#li1{
    
    margin-left: 25px;
    margin-top: 1px;
    font-size: 15px;
}
#li2{
    
    margin-left: 25px;
    margin-top: 1px;
    font-size: 15px;
}
#li3{
    
    margin-left: 25px;
    margin-top: 1px;
    font-size: 15px;
}
#p3{
    margin-left: 20px;
    font-size: 18px;
}
#p4{
    margin-left: 10px;
    font-size: 15px;
}
#p5{
    margin-left: 20px;
    font-size: 18px;
}
#p6{
    margin-left: 20px;
    font-size: 15px;
}
#p7{
    margin-left: 20px;
    font-size: 15px;
}
#p8{
    margin-left: 20px;
    font-size: 15px;
}
#p9{
    margin-left: 20px;
    font-size: 15px;
}
#p10{
    margin-left: 20px;
    font-size: 15px;
}
#p11{
    margin-top: 30px;
    margin-left: 20px;
    font-size: 18px;
}
#p12{
    margin-top: 300px;
    margin-left: 20px;
    font-size: 18px;
}
#p14{
    margin-top: 100px;
    margin-left: 20px;
    font-size: 18px;
}
#p15{
    margin-left: 20px;
}